<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PubMenus</key>
	<dict>
		<key>menu</key>
		<array>
			<dict>
				<key>menu</key>
				<array>
					<dict>
						<key>url</key>
						<string></string>
						<key>title</key>
						<string>驾车</string>
					</dict>
				</array>
				<key>title</key>
				<string>出行</string>
			</dict>
			<dict>
				<key>menu</key>
				<array>
					<dict>
						<key>url</key>
						<string></string>
						<key>title</key>
						<string>喝水</string>
					</dict>
					<dict>
						<key>url</key>
						<string></string>
						<key>title</key>
						<string>吃饭</string>
					</dict>
				</array>
				<key>title</key>
				<string>饮食</string>
			</dict>
		</array>
	</dict>
	<key>PluginItemDS</key>
	<array>
		<dict>
			<key>actionTag</key>
			<integer>1011</integer>
			<key>title</key>
			<string>照片</string>
			<key>highLightImage</key>
			<string>扩展输入框_图片_highlight.png</string>
			<key>normalImage</key>
			<string>扩展输入框_图片_normal.png</string>
		</dict>
		<dict>
			<key>actionTag</key>
			<integer>1012</integer>
			<key>title</key>
			<string>拍照</string>
			<key>highLightImage</key>
			<string>扩展输入框_拍照_highlight.png</string>
			<key>normalImage</key>
			<string>扩展输入框_拍照_normal.png</string>
		</dict>
		<dict>
			<key>actionTag</key>
			<integer>1013</integer>
			<key>title</key>
			<string>位置</string>
			<key>highLightImage</key>
			<string>扩展输入框_位置_highlight.png</string>
			<key>normalImage</key>
			<string>扩展输入框_位置_normal.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>照片</string>
			<key>highLightImage</key>
			<string>扩展输入框_图片_highlight.png</string>
			<key>normalImage</key>
			<string>扩展输入框_图片_normal.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>照片</string>
			<key>highLightImage</key>
			<string>扩展输入框_图片_highlight.png</string>
			<key>normalImage</key>
			<string>扩展输入框_图片_normal.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>照片</string>
			<key>highLightImage</key>
			<string>扩展输入框_图片_highlight.png</string>
			<key>normalImage</key>
			<string>扩展输入框_图片_normal.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>照片</string>
			<key>highLightImage</key>
			<string>扩展输入框_图片_highlight.png</string>
			<key>normalImage</key>
			<string>扩展输入框_图片_normal.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>照片</string>
			<key>highLightImage</key>
			<string>扩展输入框_图片_highlight.png</string>
			<key>normalImage</key>
			<string>扩展输入框_图片_normal.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>照片</string>
			<key>highLightImage</key>
			<string>扩展输入框_图片_highlight.png</string>
			<key>normalImage</key>
			<string>扩展输入框_图片_normal.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>照片</string>
			<key>highLightImage</key>
			<string>扩展输入框_图片_highlight.png</string>
			<key>normalImage</key>
			<string>扩展输入框_图片_normal.png</string>
		</dict>
	</array>
	<key>EmotionCateDS</key>
	<array>
		<string>emoji</string>
		<string>lt</string>
	</array>
	<key>ShortcutTextDS</key>
	<array>
		<string>快捷发送---1</string>
		<string>快捷发送---2</string>
		<string>快捷发送---3</string>
		<string>快捷发送---4</string>
		<string>快捷发送---5</string>
		<string>快捷发送---6</string>
	</array>
</dict>
</plist>
